.profile-container {
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 300px;
    text-align: center;
    background: white;
  }
  
  .profile-avatar {
    width: 50px; /* Adjust size as needed */
    height: 50px; /* Adjust size as needed */
    border-radius: 50%;
    margin: 0 auto;
    border: 2px solid #00BFFF;
  }

  .profile-name {
    font-size: 1.2em;
    font-weight: bold;
    margin-top: 15px;
  }
  
  .profile-email {
    font-size: 1em;
    color: #555;
    margin-bottom: 15px;
  }

  .logout-button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #00BFFF;
    color: white;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .logout-button:hover {
    background-color: #0090C0;
  }
  
  .profile-layout {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  