@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');

.data-container{
  background-color: #007bff;
}



:root {
  --font-family: 'Nunito', sans-serif;
  --primary-color: rgb(255, 214, 49); /* Bright yellow */
  --text-color: #333; /* Dark grey */
  --background-color: #e5d7d7; /* Light pink, unused due to override */
  --btn-hover-color: #0056b3; /* Dark blue */
  --btn-primary-color: #007bff; /* Bright blue */
  --border-radius: 10px;
  --border: 1px solid #ccc;
  --box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

body, html {
  margin: 0;
  padding: 0;
  font-family: var(--font-family);
}

.scenarioContainer, .objectivesContainer {
  background-color: var(--primary-color);
  border-radius: 8px;
  box-shadow: var(--box-shadow);
  margin-left: 50px;
  margin-top: 20px;
  margin-bottom: 10px;
  padding: 10px;
  max-width: 1000px;
  overflow-y: auto; /* For scenario and objectives containers */
}



/* Button and input styling unified */
.btn-primary, input[type="text"], input[type="number"], textarea, .medium-input, .small-input, .large-input {
  padding: 10px;
  border: var(--border);
  border-radius: var(--border-radius);
  resize: none; /* Applicable to textarea and inputs if needed */
  margin-left: 475px;
}

.profileContainer {
  display: grid; /* Use Grid */
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* Create as many columns as can fit, with a min-width of 200px */
  gap: 20px; /* Space between grid items */
  background-color: var(--primary-color);
  border-radius: 8px;
  box-shadow: var(--box-shadow);
  margin-left: 50px;
  margin-top: 20px;
  
  padding: 5px;
  max-width: 1010px;
}

.profileBlock {
  padding: 10px; /* Inner spacing for content */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Optional: if you want individual blocks to stand out */
}

.btn-primary {
  background-color: var(--primary-color);
  color: var(--btn-primary-color);
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
}

.btn-primary:hover {
  background-color: var(--btn-hover-color);
}

.phase-label, .Hardstop-label {
  display: block;
  color: var(--text-color);
  font-weight: bold;
  margin-left: 50px;
  margin-bottom: 5px;
}



.phase-label {
  font-size: 30px;
  color: white; /* Assuming white is intentional for phase labels */
  margin-top: 50px; /* Adjusted to be consistent */
}

.Hardstop-label {
  font-size: 15px;
  color: var(--primary-color); /* Assuming this is intentional for contrast */
}

/* Layout adjustments */
.btn-container, .horizontal-input-container {
  text-align: center; /* Centering button container, could be applied elsewhere if needed */
  margin-top: 20px;
  margin-bottom: 15px;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 10px;
}

.horizontal-input-container > * {
  flex: 1;
  margin-right: 10px; /* Adjust margin as needed */
  width: calc(16.666% - 10px); /* Adjust width as needed for fixed-width inputs */
}

.textarea {
  /* Additional styles for your textarea */
  width: 100%; /* Make textarea fill container */
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.textarea-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px; /* Adjust spacing between each TextareaInput */
}

.textAreaInput.small textarea, .textAreaInput.medium textarea, .textAreaInput.large textarea {
  border: var(--border);
  border-radius: var(--border-radius);
  resize: none;
  
}

.textAreaInput.small textarea {
  font-size: large;
  width: 105px;
  height: 25px;
}

.textAreaInput.medium textarea {
  width: 165px;
  height: 100px;
}

.textAreaInput.large textarea {
  width: 350px;
  height: 160px;
}

/* Additional styles for specific input sizes */
.medium-input, .small-input, .large-input {
  width: 100px; /* Standardizing width for simplicity, adjust as necessary */
  height: 30px;
}

/* Miscellaneous adjustments */
.case-input {
  width: 90%;
  height: 150px;
  margin: 10px 5px;
  flex: 1;
}