/* General resets */
body, html {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.profile{
  size:10px;
}

/* Container styling */
.profileContainer {
  max-width: 1000px;
  margin: 20px auto;
  padding: 20px;
  background-color: #e5d7d7;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  overflow-y: auto;
  resize:none;
}

/* Container styling */
.scenerioContainer {
  max-width: 1000px;
  margin: 20px auto;
  padding: 20px;
  background-color: #e5d7d7;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  overflow-y: auto;
  resize:none;
}

/* Form group styling */
.form-group {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 10px;
}

.profile-group {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 10px;
}

label {
  display: block;
  margin-bottom: 5px;
  color: #333;
}


input[type="text"]:focus,
input[type="number"]:focus,
textarea:focus {
  border-color: #007bff;
  outline: none;
}

/* Button styling */
.btn-primary {
  background-color: #007bff;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.btn-primary:hover {
  background-color: #0056b3;
}

/* Utility classes */
.hidden {
  display: none;
}

.profile-input {
  width: 50%; /* Responsive width */
  height: 40px; /* Fixed height */
  padding: 0 10px; /* Padding inside the input */
  border: 1px solid #ccc; /* Border styling */
  border-radius: 5px; /* Rounded corners */
  resize: none;
}

.case-input {
  width: 80%; /* Adjust as needed */
  height: 150px; /* Fixed height */
  padding: 0 10px; /* Padding inside the input */
  border: 1px solid #ccc; /* Border styling */
  border-radius: 5px; /* Rounded corners */
  resize: none; /* Disables resizing */
  margin: 10px;
  flex: 1; /* If using flexbox in the container */
}