/* Chat window styling */
.chat-window {
    flex-grow: 1;
    padding: 30px;
    overflow-y: auto;
    height: calc(100vh - 170px);
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #355997;
    
    
  }

  .chat-input {
    display: flex;
    align-items: center;
    border-left: 0px;
    flex-grow: 1;
    padding: 10px;
    border-top-left-radius: 20px; /* Only the top-left corner will be rounded */
    border-bottom-left-radius: 20px; /* Only the bottom-left corner will be rounded */
    margin-left: 40px;
    margin-right: 30px;
    background-color: #355997; /* The dark blue background */
    color: white; /* Text color */
    overflow-y: auto; /* Scrollable vertically */
    resize: none; /* Disable resizing */
    max-height: 200px; /* Maximum height */
    line-height: 1.5; /* Line height for readability */
    box-sizing: border-box; /* Padding included in the width and height */
    font-weight: 550;
    font-family: Nunito; 
    font-size: 16px;
  }

  .chat-bot-form {
    /*
    margin-bottom: -100px !important; 
    margin-top: -60px !important;
    */
  }

  .chat-input-button {
    padding: 10px 20px;
    background-color: #ccc !important; 
    color: black; /* Text color */
    border: none; /* Removes the border */
    border-top-right-radius: 20px; /* Only the top-right corner will be rounded */
    border-bottom-right-radius: 20px; /* Only the bottom-right corner will be rounded */
    cursor: pointer; /* Indicates it's clickable */
    margin-right: 10px;
    font-family: Nunito;
    font-weight: 550;
    font-size:20px;
  }
  
  .chat-input-button:hover {
    background-color: #e4c2d2; /* Lighter pink color on hover */
  }
  
  
