/* General styling */
body, html {
  height: 100%;
  margin: 0;
  font-family: Arial, sans-serif;
}

.App {
  display: flex;
  flex-direction: column;
  height: 100%;
}

/* Header styling */
.App-header {
  background-color: #282c34;
  color: white;
  padding: 10px;
  text-align: center;
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; /* if you want to stack the items vertically */
}

/* Chat window styling */
.chat-window {
  flex-grow: 1;
  padding: 20px;
  overflow-y: auto;
  height: calc(100vh - 170px);
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: #f0f0f0;
}

.app-body {
  display: flex;
}

.sidebar {
  width: 20%; /* Adjust based on your preference */
  padding: 20px;
  border-right: 1px solid #ccc; /* Adds a line between the sidebar and chat */
}

.chat-container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}


.message {
  padding: 10px;
  border-radius: 20px;
  max-width: 60%;
  word-wrap: break-word;
}

.user {
  align-self: flex-end;
  background-color: #007bff;
  color: white;
}

.bot {
  align-self: flex-start;
  background-color: #e5e5ea;
  color: black;
}

/* Form styling */
form {
  display: flex;
  padding: 10px;
  background-color: #fff;
  box-shadow: 0 -2px 10px rgba(0,0,0,0.1);
}

input {
  flex-grow: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 20px;
  margin-right: 10px;
}

button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}