body, html {
  height: 100%;
  margin: 0;
  font-family: Arial, sans-serif;
}

.App {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.App-header {
  background-color: #282c34;
  color: white;
  padding: 10px;
  text-align: center;
  font-size: 12px;
}

.chat-window {
  flex-grow: 1;
  padding: 20px;
  overflow-y: auto;
  height: calc(100vh - 170px);
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: #f0f0f0;
}

.app-body {
  display: flex;
}

.sidebar {
  width: 20%;
  padding: 20px;
  border-right: 1px solid #ccc;
  background-color: #f9f9f9;
}

.chat-container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.message {
  padding: 10px;
  border-radius: 20px;
  max-width: 60%;
  word-wrap: break-word;
}

.user {
  align-self: flex-end;
  background-color: #007bff;
  color: white;
}

.bot {
  align-self: flex-start;
  background-color: #e5e5ea;
  color: black;
}

form {
  display: flex;
  padding: 10px;
  background-color: #fff;
  box-shadow: 0 -2px 10px rgba(0,0,0,0.1);
}

input {
  flex-grow: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 20px;
  margin-right: 10px;
}

button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

.user-info, .general-info {
  font-size: 20px;
  color: white;
  background-color: black;
  padding: 10px 20px;
  margin-bottom: 10px;
  border-radius: 20px;
  text-align: center;
  font-weight: bold;
}

.sidebar button, .logout-button {
  width: 100%;
  text-align: center;
  background-color: black;
  color: white;
  border: none;
  border-radius: 20px;
  padding: 10px 20px;
  margin-bottom: 10px;
  cursor: pointer;
}

.sidebar button:hover, .logout-button:hover {
  background-color: #0056b3;
}

.sidebar button, .logout-button, .user-info, .general-info {
  border-radius: 0;
}

.sidebar button, .logout-button {
  text-align: left;
  background-color: #f0f0f0;
  color: #333;
  border-bottom: 1px solid #ccc;
}

.sidebar button:hover, .logout-button:hover {
  background-color: #e0e0e0;
}

.user-info, .general-info {
  background-color: #e7e7e7;
  color: #333;
  border-bottom: 1px solid #ccc;
}
