@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');

:root {
  --font-size: 30px;
  --font-family: 'Nunito', sans-serif;
  --padding-vertical: 10px;
  --padding-horizontal: 20px;
  --margin-bottom: 10px;
  --border-radius: 20px;
  


  --box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}


.App {
  display: flex;
  flex-direction: column;
  height: 100vh; /* Use viewport height to ensure full coverage */
}

body, html {
  height: 100%;
  margin: 0;
  font-family: Arial, sans-serif;
  
}




.App-header {
  background-color: #282c34;
  color: white;
  padding-right: 20px;
  padding-left: 10px;
  
  
  display: flex; /* Enables Flexbox layout within this container */
  align-items: center; /* Vertically centers the items in the container */
  justify-content: space-between; /* Places space between the child elements, pushing them to opposite ends */
  font-size: 12px;
}

.App-header h2 {
  margin-left: 500px;
}

.chat-window {
  flex-grow: 1;
  padding: 20px;
  overflow-y: auto;
  height: calc(100vh - 170px);
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: #f0f0f0;
}

.app-body {
  display: flex;
}

.sidebar {
  width: 15%;
  padding: 20px;
  border-right: 1px solid #ccc;
  background-color: #379586;
  height: 100%;
  
}


.chat-container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.message {
  padding: 10px;
  border-radius: 10px;
  max-width: 60%;
  word-wrap: break-word;
}

.user {
  align-self: flex-end;
  background-color: #007bff;
  color: white;
}

.bot {
  align-self: flex-start;
  background-color: #e5e5ea;
  color: black;
}

form {
  display: flex;
  padding: 10px;
  background-color: #ffffff;
  box-shadow: 0 -2px 10px rgba(0,0,0,0.1);
}

input {
  flex-grow: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 20px;
  margin-right: 10px;
}

button {
  padding: 10px 20px;
  background-color: #e97eb0;
  color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

.user-info, .general-info {
  font-size: var(--font-size);
  font-family: 'Nunito', sans-serif;
  background-color: #388f80;
  padding: var(--padding-vertical) var(--padding-horizontal);
  margin-bottom: var(--margin-bottom);
  border-radius: 15px;
  text-align: center;
  font-weight: bold;

  transition: background-color 0.3s ease, color 0.3s ease;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}


.sidebar button, .logout-button {
  font-size: 20px;
  width: 100%;
  text-align: center;
  background-color: rgb(141, 63, 117);
  color: white;
  border: none;
  border-radius: 20px;
  padding: 10px 20px;
  
  cursor: pointer;
  margin-bottom: 30px;
}

.sidebar button:hover, .logout-button:hover {
  background-color: #0056b3;
}





.sidebar button:hover, .logout-button:hover {
  background-color: #e0e0e0;
}

.title{
  color: white;
  font-size: 25px;
  margin-left: 50px;
}

